In [1]:
import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline

import seaborn as sb
sb.set_style('whitegrid')

import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.preprocessing import scale
from sklearn import metrics

In [2]:
comp=pd.read_table('Z:/FA1/Reference_material/computers.csv',sep=',')
comp

    Units  Minutes
0       1      NaN
1       2     29.0
2       3     49.0
3       4     64.0
4       4     74.0
5       5     87.0
6       6     96.0
7       6     97.0
8       7    109.0
9       8    119.0
10      9    149.0
11      9    145.0
12     10    154.0
13     10    166.0